name: CI - PR to Main

on:
  pull_request:
    branches:
      - main

jobs:
  pre-checks-main:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install deps
        run: |
          python -m pip install -U pip
          pip install --no-cache-dir -r requirements-dev.txt

      - name: Unit tests
        env:
          DATABASE_URL: "sqlite:///./tests/test.db"
          GEMINI_API_KEY: fake-key-for-tests
        run: |
          pytest --maxfail=1
          --cov=app \

